/* Seccion TRABAJOS GRÁFICOS */

.graficos {
  background-color: var(--color-graficos);
  margin-top: -4em;
  padding: 5em 8em;
}

.graficos h1 {
  color: white;
  font-family: var(--titulos-tip);
  align-self: center;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 2em;
}

.graficos p {
  font-family: var(--parrafo-tip);
  color: #fff;
  margin-bottom: 3em;
  font-size: 1.5em;
  text-align: center;
}

/* ##Dispositivo = Tablets, Ipads (horizontal) 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
.graficos h1 {
  color: var(--color-texto);
  font-family: var(--titulos-tip);
  align-self: center;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 2em;
}

.graficos p {
  font-family: var(--parrafo-tip);
  color: var(--color-texto);
  margin-bottom: 3em;
  font-size: 1.5em;
  text-align: center;
}

.graficos {
  background-color: rgb(194, 135, 143);
  margin-top: -4em;
  padding: 5em 8em;
}
}

/* ##Dispositivo = Tablets, Mobiles de 481px a 767px */
@media (min-width: 481px) and (max-width: 767px) {
  /*Aquí van las propiedades y valores según el dispositivo*/
  .graficos h1 {
    color: var(--color-texto);
    font-family: var(--titulos-tip);
    align-self: center;
    margin-bottom: 0.7em;
    text-align: center;
    font-size: 1.3em;
  }
  
  .graficos p {
    font-family: var(--parrafo-tip);
    color: white;
    margin-bottom: 3em;
    font-size: 1.1em;
    text-align: center;
  }
  
  .graficos {
    background-color: rgb(194, 135, 143);
    margin-top: -4em;
    padding: 5em 8em;
  }
}

/* ##Dispositivo = Smartphones de 320px a 479px */
@media (min-width: 320px) and (max-width: 480px) {
  /*Aquí van las propiedades y valores según el dispositivo*/
  .graficos {
    background-color: var(--color-graficos);
    margin-top: -4em;
    padding: 5em 2em;
}

.graficos h1 {
  color: white;
  font-family: var(--titulos-tip);
  align-self: center;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 1.5em;
}

.graficos p {
  font-family: var(--parrafo-tip);
  color: #fff;
  margin-bottom: 3em;
  font-size: 1em;
  text-align: center;
}
}